
@media screen and (min-width: 900px) {
    /* 
        (--------------------------)
        |          ОБЩИЕ           |
        (--------------------------)
    */

    .title {
        font-size: 32px;
        letter-spacing: 8px;
    }

    .description {
        font-size: 18px;
    }

    /* 
        (--------------------------)
        |        БЛОК MAIN         |
        (--------------------------)
    */

    /* 
        Разделям main на два блока 
        (текст на тёмном фоне и фотография справа) 
    */
    
    .main-desktop-photo {
        display: block;
    }

    .main {
        height: auto;
        display: grid;
        grid-template-columns: 5fr 4fr;
    }
    
    .main-block {
        background-color: #1D1D1D;
        padding: 0px;
        width: auto;
        height: 100%;
        top: 0px;
    }

    /* 
        Подстраиваем шрифты в main-block
    */

    .main-block h1 {
        font-size: 5vw;
        margin-top: 22%;
        margin-left: 30%;
    }
    
    .main-block h2 {
        font-size: 3vw;
        margin-left: 25%;
        font-weight: 300;
        line-height: 130%;
    }

    /* 
        (--------------------------)
        |      БЛОК PORTFOLIO      |
        (--------------------------)
    */

    /* 
        Убираем слайдер и добавляем статические фотографии
    */
    .portfolio {
        height: 800px;
    }

    .photo-slider-container {
        display: none;
    }

    .portfolio-container-desktop {
        display: block;
    }


    /* 
        (--------------------------)
        |      БЛОК ABOUT-ME       |
        (--------------------------)
    */

    .about-me {
        height: 600px;
    }

    .about-me-block.left {
        margin-top: 50px;
    }

    .about-me-block.right {
        margin-top: 80px;
    }
    
    .about-me-topic {
        font-size: 28px;
    }
    
    .about-me-text {
        margin-top: 10px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    /* 
        (--------------------------)
        |        БЛОК MAIN         |
        (--------------------------)
    */

    /* 
        Избегаем черезчур большого размера текста в main-block
    */
    .main-block h1 {
        font-size: 60px;
    }
    
    .main-block h2 {
        font-size: 36px;
    }


    /* 
        (--------------------------)
        |      БЛОК ABOUT-ME       |
        (--------------------------)
    */
    .about-me-block {
        max-width: 47%;
        margin: 60px auto;
    }
    
    .about-me-block.left {
        margin-right: 35%;
    }
    
    .about-me-block.right {
        margin-left: 35%;
    }
}