/*
    BLOCK - MAIN PAGE
*/

.main {
    height: 446px;
    background: url("../img/1.jpg");
    background-size: cover;
}
  
.main-block {
    position: relative;
    top: 225px;
    width: 50%;
    padding: 15px;
    padding-left: 30px;
    background-color: rgba(4, 4, 4, 0.75);
}
  

/*
    BLOCK - PORTFOLIO
*/

.portfolio {
    height: 640px;
  }
  
/* ------- СТИЛИ ДЛЯ СЛАЙДЕРА ------- */
  
.photo-slider-container {
    /* background-color: aliceblue; */
    height: 100%;
    overflow-x: hidden;  /* Скрываем элементы, выходящие за пределы слайдера */
}
  
.photo-slider {
    margin-top: 40px;
    transition: transform 0.3s ease;  /* Плавная прокрутка при изменении */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* width: 100%; */
    gap: 10px;
    /* transform: translateX(100px); */
}
  
.slider-item {
    flex: 0 0 300px; /* Каждое изображение занимает 60% ширины слайдера */
}
  
.slider-item img {
    width: 100%; /* Подгоняем изображения под ширину слайда */
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Добавляем падающую тень */
    transition: transform 0.3s, opacity 0.3s;
}
  
.slider-item:not(.active) img {
    opacity: 0.8; /* Затемнение для неактивных изображений */
    transform: scale(0.8); /* Уменьшаем размер */
}
  
.slider-item.active img {
    opacity: 1; /* Полная яркость для текущего изображения */
    transform: scale(1); /* Увеличиваем размер */
}
  
/* Кнопки управления */
.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    background: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    color: white;
    border: none;
    /* border-radius: 100px; */
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
  
.prev-btn {
    left: 20px;
}
  
.next-btn {
    right: 20px;
}
  
  /* ----------------------------------- */